.git/
.idea/
.vscode/

.venv/
venv/
env/

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.env
*.env
!.env.example

*.sqlite3
*.db
*.log
*.html
*.txt
list.json
cj*.txt
panel_*.html
